@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@400;700&family=Roboto&display=swap');

/* Navbar */
#navbar {
    width: 100%;
    display: flex;   
    padding: 0;  
    /* background-color: #ffffff; */
    background-color: #ffffff;
    flex-basis: 50%;
    height: 80px;   
}

.logo {
    width: 100%;
    margin-left: 2%;
    font-weight: bold; 
    text-decoration: none;
    font-size: 24px; 
    color: 414141;
    line-height: 33px   
}

.logo-white {
    width: 100%;
    margin-left: 2%;
    font-weight: bold; 
    text-decoration: none;
    font-size: 24px; 
    color: white;
    line-height: 33px   
}

.menu {
    width: 100%;
    padding-right:  2%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px; 
}

.style-nav {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000 !important;
    margin-left: 10px;
    font-weight: bold;
}

/* End Navbar */

/* Start Login Content */
#main-component {
    padding: 0;
    background-size: contain;
    /* background-color: grey; */
}

.bg-sign {
    padding-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
    height: auto;
    padding-bottom: 50px;
}

.title-signup {
    font-family: Roboto;
    color: #5b574d;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.wrap-login {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #707070;

}

.wrap-box2 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
}

.box-left {
    padding-right: 50px;
}

.img-log {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #707070;
}

.form-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    line-height: 5px;
}

.btn-submit {
    width: 100%;
    background-color: #ffcc00;
    /* border:none; */
    color: #5b574d;
    border: 1px solid #707070;
    font-family: Roboto;
    border-radius: 10px;
}
/* End Login Content */

/* Start Footer Login*/

.footer {
    background-color: #ffcc00;
    padding-top: 40px;
    padding-left: 5%;
    padding-left: 5%;
    padding-bottom: 40px;
}

.footer p {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000 !important;
    margin-left: 10px;
    font-weight: bold;
    line-height: 10px;
}

.logoBlack {
    padding-top: 20px;
    padding-bottom: 20px;

}

.logoBukopin {
    display: flex;
    justify-content: flex-end;
}

.logoBukopin img {
    padding-top: 20px;
    width: 60%;
    height: 75%;
    padding-right: 50px;
}

.wrap-connect{
    padding-top: 40px;
}

.style-connect {
    padding-top: 10px;
    text-align: right;
}

.style-iconbrand {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-dark {
    height: 100px;
    background-color: #545045;
    color: #ffbc00;
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

/* End Foot */

/* SIg */

.style-inp-login {
    padding-top: 50px;
}

.style-keep {
    text-align: left;
    font-size: 12px;
}

.style-forgot {
    text-align: right;
    font-size: 12px;
    color: red;
}

.btn-signin {
    width: 100%;
    padding: 10px 10px; 
    background-color: #ffcc00;   
    border: none;
    color: #5b574d;
    border-radius: 10px;
}

.style-but {
    padding-top: 20px;
}

.img-log2 {
    width: 100%;
    height: 82%;
    background-size: cover;
    border-radius: 15px;
    border: 1px solid #707070;
}

.style-hr-1 {
    width: 100%;
}

.style-text {
    font-size: 10px;
    color: #5b574d;
    opacity: 44%;
}


/*  */

/* start for landing */
.product-bg1 {
    background-color: #fafbfc; ;
    background-size: cover;
}

.product-style {
    padding-top: 5%;
}

.banner-style {
    padding: 0;
    background-position:inherit;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-stylehome {
    background: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
    /* background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)); */
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding: 0;
    margin: 0;
    
}

.box-text-banner {
    position: absolute;
    top: 65%;
    /* right: 80%; */
    font-family:Verdana, Tahoma;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-stretch: normal;

}

/* CSS For Info Accordion */

.wrapper-homeinfo {
    padding-top: 20px;
    padding-left: 185px;
    padding-right: 185px;
    background-color: #545045;
    /* margin-bottom: 10px; */
    height:auto;
}

.title-info{
    font-size: 40px;
    color: #ffbc00;
    font-family: 'Nunito Sans', sans-serif;
}

.accor-info {
    margin-top: 20px;
}

.bottom-info {
    height: 50px;
}

.list-style {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
}

.wrapper-box-detail-home {
    padding-right: 30px;
    padding-left: 30px;
    height: 350px;
    margin-bottom: 50px;
    position: relative;   
}

.wrapper-box-list-home {
    height: 350px;
    background-color: #ffffff;
    /* background-color: #f7c707; */
    box-shadow: 3px 3px 15px rgba(63, 45, 0, 0.556);
    border-radius: 20px;
    /* background-image: url(../Assets/Images/latar2.jpg); */
}

.img-classhome {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.product-list h6 {
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 600;
    font-size: 30px;
    line-height: 0;
    text-align: center;
    color: #000000;
    background-color: #fafbfc;
}


/* end for landing */

/* start dash */
.bg-dash {
    padding-top: 50px;
    margin-left: 8%;
    margin-right: 8%;
    height: auto;
    padding-bottom: 50px;
}

.wrap-box-dash {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    border-radius: 10px;
    height: 200px;
}

.wrap-dash {
    background-color: #ffffff;
    border-radius: 23px;
    border: 1px solid #707070;
}

.wrap-box2-head {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    height: 80px;
}

.list-rumah {
    padding: 10px 20px;
}

.wrap-list-rumah {
    border: 1px solid #ffbc00;
    line-height: 10px;
    padding-bottom: 10px;
    margin: 10px 5px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #ffff 75%, #ffbc00);
}

.img-rumah {
    height: 140px;
    border-radius: 10px;
}

.title-home h5 {
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}

.title-dev {
    font-size: 11px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 5px;
}

.btn-next:disabled {
    background-color: grey;
    border: none;
    cursor: not-allowed;
    width: 170px;
    padding: 10px 5px;
}

.btn-next {
    background-color: #ffbc00;
    border: none;
    cursor: pointer;
    width: 170px;
    padding: 10px 5px;
}

.centang {
    position: absolute;
    color: green;
    padding-left: 15%;
}

.wrap-step {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}

.lingkaran{
	width: 75px;
	height: 75px;
	background: #ffbc00;
	border-radius: 100%;
    border: 1px solid #ffbc00;
    margin-left: -5px;
}

.lingkaran-grey{
	width: 75px;
	height: 75px;
	background: grey;
	border-radius: 100%;
    border: 1px solid grey;
    margin-left: -5px;
}

.persegipanjang {
    width: 150px;
    height: 20px;
    background: #ffbc00;
    margin-top: 30px;
    margin-left: -5px;
}

.persegipanjang-grey {
    width: 150px;
    height: 20px;
    background: grey;
    margin-top: 30px;
    margin-left: -5px;
}

.text-step {
    text-align: center;
    font-size: 50px;
}

.text-step-grey {
    text-align: center;
    font-size: 50px;
    color: white;
}

.wrap-formuploadkpr {
    padding-top: 40px ;
    padding-bottom: 40px;
    padding-left: 5%;
}

#bg-dashburd {
    background-color: #f9f7f5;
    background-size: cover;
    background-image: url(../images/latar05.png);

    
}

.wrapper-dashburd {
    padding-top: 3%;
    padding-right: 4%;
    padding-bottom: 3%;
    padding-left: 8%;
    height: auto;
}

.wrapper-side-left {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 20px;
    width: 20%;
}

.wrapper-side-right1 {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 30px;
    /* height: 700px; */
    background-image: linear-gradient(to top, #ffff 75%, #ffbc00);
}

.title-dashburd {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.wrapper-side-right {
    padding-left: 40px;
}

.wrapper-side-right2 {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 30px;
    height: 100px;
    margin-top: 20px;
}

.wrapper-side-left-menu {
    padding-left: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.wrap-ico {
    display: flex;
    justify-content: flex-start; /* ganti dari start ke flex-start */
    align-items: center;
}

.ico {
    height: 30px;
    width: 30px;
}

.wrap-ico{
    margin-bottom: 20px;
}

.wrap-ajukan {
    padding-left: 20px;
    padding-top: 20px;
}

.outer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    background-color: #fcb900;
    margin: 10px;
  }

.outer-grey {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    background-color: gray;
    margin: 10px;
}

.inner {
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #ffffff;
    top: 15%;
    left: 30%;
}

.step-angka {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-weight: bold;
    padding-left: 13px;
    color: #fcb900;
}

.step-angka-grey {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-weight: bold;
    padding-left: 13px;
    color: grey;
}

.step-angka h1 {
    font-size: 45px;
    font-weight: bold;
}

.segipanjang {
    width: 90px;
    height: 15px;
    background: #46443f;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -20px;
}

.segipanjang-grey {
    width: 90px;
    height: 15px;
    background: grey;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -20px;
}

.wrap-button-next {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-top: 2%;
}

::-webkit-file-upload-button {
    background: #fcb900;
    color: black;
    padding: 8px 25px;
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.15s ease;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    line-height: 1.5;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
}

.btn-upload {
    background-color: #fcb900; /* Green */
    border: none;
    color: #5b574d;
    padding: 6px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;}

.btn-upload:disabled {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 8px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: not-allowed;
}

.foto-pegang {
    padding-top: 30px;
}
/* end dash */